<section class="events">
  <div class="events-container container">
    <div class="events-body">
      <div class="events-row">
        <div class="events-discord">
          <div class="events-heading heading">
            <span class="heading-title">наш дискорд</span>
            <img src="../../img/heading/headingRight.png" class="heading-line" alt="line">
          </div>
          <div class="events-discord__box box">
            <img src="../../img/events/discordMocked.webp" alt="discordMocked">
          </div>
        </div>
        <div class="events-recently">
          <div class="events-heading heading">
            <span class="heading-title">последнее события</span>
            <img src="../../img/heading/headingRight.png" class="heading-line" alt="line">
          </div>
          <ul class="events-tabs tabs-controls">
            <button class="events-tabs__button tabs-button tabs-button--selected">
              все
            </button>
            <button class="events-tabs__button tabs-button">
              новости
            </button>
            <button class="events-tabs__button tabs-button">
              акции
            </button>
            <button class="events-tabs__button tabs-button">
              темы с форума
            </button>
          </ul>
          <div class="events-displays">
            <ul class="events-news tabs-display tabs-display--selected">
              <li class="events-news__item">
                <div class="events-news__aside">
                  <span class="events-news__date">
                    27-11-24
                  </span>
                  <p class="events-news__title">
                    <span>[ акции ]</span> sleep deprived
                  </p>
                </div>
                <a href="#" target="_blank" class="events-news__link button--disabled button">
                  перейти
                </a>
              </li>
              <li class="events-news__item">
                <div class="events-news__aside">
                  <span class="events-news__date">
                    27-11-24
                  </span>
                  <p class="events-news__title">
                    <span>[ акции ]</span> sleep deprived
                  </p>
                </div>
                <a href="#" target="_blank" class="events-news__link button">
                  перейти
                </a>
              </li>
              <li class="events-news__item">
                <div class="events-news__aside">
                  <span class="events-news__date">
                    27-11-24
                  </span>
                  <p class="events-news__title">
                    <span>[ акции ]</span> sleep deprived
                  </p>
                </div>
                <a href="#" target="_blank" class="events-news__link button--disabled button">
                  перейти
                </a>
              </li>
              <li class="events-news__item">
                <div class="events-news__aside">
                  <span class="events-news__date">
                    27-11-24
                  </span>
                  <p class="events-news__title">
                    <span>[ акции ]</span> sleep deprived
                  </p>
                </div>
                <a href="#" target="_blank" class="events-news__link button--disabled button">
                  перейти
                </a>
              </li>
            </ul>
            <ul class="events-news tabs-display">
              <li class="events-news__item">
                <div class="events-news__aside">
                  <span class="events-news__date">
                    27-11-24
                  </span>
                  <p class="events-news__title">
                    <span>[ акции ]</span> sleep deprived
                  </p>
                </div>
                <a href="#" target="_blank" class="events-news__link button--disabled button">
                  перейти
                </a>
              </li>
              <li class="events-news__item">
                <div class="events-news__aside">
                  <span class="events-news__date">
                    27-11-24
                  </span>
                  <p class="events-news__title">
                    <span>[ акции ]</span> sleep deprived
                  </p>
                </div>
                <a href="#" target="_blank" class="events-news__link button">
                  перейти
                </a>
              </li>
              <li class="events-news__item">
                <div class="events-news__aside">
                  <span class="events-news__date">
                    27-11-24
                  </span>
                  <p class="events-news__title">
                    <span>[ акции ]</span> sleep deprived
                  </p>
                </div>
                <a href="#" target="_blank" class="events-news__link button--disabled button">
                  перейти
                </a>
              </li>
              <li class="events-news__item">
                <div class="events-news__aside">
                  <span class="events-news__date">
                    27-11-24
                  </span>
                  <p class="events-news__title">
                    <span>[ акции ]</span> sleep deprived
                  </p>
                </div>
                <a href="#" target="_blank" class="events-news__link button--disabled button">
                  перейти
                </a>
              </li>
            </ul>
            <ul class="events-news tabs-display">
              <li class="events-news__item">
                <div class="events-news__aside">
                  <span class="events-news__date">
                    27-11-24
                  </span>
                  <p class="events-news__title">
                    <span>[ акции ]</span> sleep deprived
                  </p>
                </div>
                <a href="#" target="_blank" class="events-news__link button--disabled button">
                  перейти
                </a>
              </li>
              <li class="events-news__item">
                <div class="events-news__aside">
                  <span class="events-news__date">
                    27-11-24
                  </span>
                  <p class="events-news__title">
                    <span>[ акции ]</span> sleep deprived
                  </p>
                </div>
                <a href="#" target="_blank" class="events-news__link button">
                  перейти
                </a>
              </li>
              <li class="events-news__item">
                <div class="events-news__aside">
                  <span class="events-news__date">
                    27-11-24
                  </span>
                  <p class="events-news__title">
                    <span>[ акции ]</span> sleep deprived
                  </p>
                </div>
                <a href="#" target="_blank" class="events-news__link button--disabled button">
                  перейти
                </a>
              </li>
              <li class="events-news__item">
                <div class="events-news__aside">
                  <span class="events-news__date">
                    27-11-24
                  </span>
                  <p class="events-news__title">
                    <span>[ акции ]</span> sleep deprived
                  </p>
                </div>
                <a href="#" target="_blank" class="events-news__link button--disabled button">
                  перейти
                </a>
              </li>
            </ul>
            <ul class="events-news tabs-display">
              <li class="events-news__item">
                <div class="events-news__aside">
                  <span class="events-news__date">
                    27-11-24
                  </span>
                  <p class="events-news__title">
                    <span>[ акции ]</span> sleep deprived
                  </p>
                </div>
                <a href="#" target="_blank" class="events-news__link button--disabled button">
                  перейти
                </a>
              </li>
              <li class="events-news__item">
                <div class="events-news__aside">
                  <span class="events-news__date">
                    27-11-24
                  </span>
                  <p class="events-news__title">
                    <span>[ акции ]</span> sleep deprived
                  </p>
                </div>
                <a href="#" target="_blank" class="events-news__link button">
                  перейти
                </a>
              </li>
              <li class="events-news__item">
                <div class="events-news__aside">
                  <span class="events-news__date">
                    27-11-24
                  </span>
                  <p class="events-news__title">
                    <span>[ акции ]</span> sleep deprived
                  </p>
                </div>
                <a href="#" target="_blank" class="events-news__link button--disabled button">
                  перейти
                </a>
              </li>
              <li class="events-news__item">
                <div class="events-news__aside">
                  <span class="events-news__date">
                    27-11-24
                  </span>
                  <p class="events-news__title">
                    <span>[ акции ]</span> sleep deprived
                  </p>
                </div>
                <a href="#" target="_blank" class="events-news__link button--disabled button">
                  перейти
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
