<section class="home">
  <div class="home-container container">
    <div class="home-body">
      <div class="home-logo">
        <img src="../../img/logo.png" alt="logo">
      </div>
      <div class="home-content">
        <h1 class="home-title">
          информация о проекте <br>
          <span>что вас ждет играя на euphoria club ?</span>
        </h1>
        <p class="home-description">
          Оцените изменения геймплея, усовершенствования интерфейса и
отправьтесь на поиски приключений в новейшем мире вселенной
        </p>
      </div>
      <a href="#" class="home-play button">
        начать играть
      </a>
      <ul class="home-socials">
        <a href="#" target="_blank" class="home-socials__link home-socials__link--tg">
          <img src="../../img/socials/tgIcon.png" alt="icon">
        </a>
        <a href="#" target="_blank" class="home-socials__link home-socials__link--discord">
          <img src="../../img/socials/discordIcon.png" alt="icon">
        </a>
        <a href="#" target="_blank" class="home-socials__link home-socials__link--fb">
          <img src="../../img/socials/fbIcon.png" alt="icon">
        </a>
        <a href="#" target="_blank" class="home-socials__link home-socials__link--tt">
          <img src="../../img/socials/ttIcon.png" alt="icon">
        </a>
      </ul>
    </div>
  </div>
</section>
