<!DOCTYPE html>
<html lang="En-en">
@include('partials/head.html')

<body>
  @include("partials/header.html")
  <main>
    <section class="info">
      <div class="info-container container">
        <div class="info-body">
          <div class="info-header">
            <h1 class="info-title heading">
              о сервере
            </h1>
            <ul class="info-buttons"></ul>
          </div>
          <div class="info-main">
            <div class="info-panel">
              <div class="info-navigation"></div>
              <div class="info-contents"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
    @include("partials/footer.html")
</body>
<script src="js/main.js"></script>
</html>
