<section class="kit">
  <div class="kit-container container">
    <div class="kit-heading heading">
      <img class="heading-line" src="../../img/heading/headingLeft.webp" alt="line">
      <h2 class="heading-title">
        набор для старта
      </h2>
      <img class="heading-line" src="../../img/heading/headingRight.webp" alt="line">
    </div>
    <div class="kit-body">
      <ul class="kit-cards">
        <li class="kit-cards__item kit-cards__item--yellow box box--golden">
          <div class="kit-cards__wrapper">
            <div class="kit-cards__inner">
              <div class="kit-cards__image">
                <img src="../../img/kit/kit_classic.png" alt="case">
              </div>
              <div class="kit-cards__info">
                <span class="kit-cards__label">
                  набор
                </span>
                <span class="kit-cards__name">
                  классика
                </span>
                <a href="#" class="kit-cards__link button">
                  купить
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="kit-cards__item kit-cards__item--blue box box--golden">
          <div class="kit-cards__wrapper">
            <div class="kit-cards__inner">
              <div class="kit-cards__image">
                <img src="../../img/kit/kit_battle.png" alt="case">
              </div>
              <div class="kit-cards__info">
                <span class="kit-cards__label">
                  набор
                </span>
                <span class="kit-cards__name">
                  классика
                </span>
                <a href="#" class="kit-cards__link button">
                  купить
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="kit-cards__item kit-cards__item--purple box box--golden">
          <div class="kit-cards__wrapper">
            <div class="kit-cards__inner">
              <div class="kit-cards__image">
                <img src="../../img/kit/kit_wiseman.png" alt="case">
              </div>
              <div class="kit-cards__info">
                <span class="kit-cards__label">
                  набор
                </span>
                <span class="kit-cards__name">
                  классика
                </span>
                <a href="#" class="kit-cards__link button">
                  купить
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
