<section class="kit">
  <div class="kit-container container">
    <div class="kit-header tabs">
      <div class="kit-heading heading">
        <h2 class="heading-title">
          рейтинги серверов
        </h2>
        <img class="heading-line" src="../../img/heading/headingRight.png" alt="frame">
      </div>
        <div class="kit-tabs tabs-controls">
          <button class="kit-tabs__button tabs-button tabs-button--selected">
            Interlude
          </button>
          <button class="kit-tabs__button tabs-button">
            interlude x2
          </button>
          <button class="kit-tabs__button tabs-button">
            interlude x3
          </button>
        </div>
      </div>
    <div class="kit-body">
      <ul class="kit-cards tabs-display tabs-display--selected">
        <li class="kit-cards__item kit-cards__item--yellow box box--golden">
          <div class="kit-cards__wrapper">
            <div class="kit-cards__inner">
              <div class="kit-cards__image">
                <img src="../../img/kit/kit_classic.png" alt="case">
              </div>
              <div class="kit-cards__info">
                <span class="kit-cards__label">
                  набор
                </span>
                <span class="kit-cards__name">
                  классика
                </span>
                <a href="#" class="kit-cards__link button">
                  купить
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="kit-cards__item kit-cards__item--blue box box--golden">
          <div class="kit-cards__wrapper">
            <div class="kit-cards__inner">
              <div class="kit-cards__image">
                <img src="../../img/kit/kit_battle.png" alt="case">
              </div>
              <div class="kit-cards__info">
                <span class="kit-cards__label">
                  набор
                </span>
                <span class="kit-cards__name">
                  классика
                </span>
                <a href="#" class="kit-cards__link button">
                  купить
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="kit-cards__item kit-cards__item--purple box box--golden">
          <div class="kit-cards__wrapper">
            <div class="kit-cards__inner">
              <div class="kit-cards__image">
                <img src="../../img/kit/kit_wiseman.png" alt="case">
              </div>
              <div class="kit-cards__info">
                <span class="kit-cards__label">
                  набор
                </span>
                <span class="kit-cards__name">
                  классика
                </span>
                <a href="#" class="kit-cards__link button">
                  купить
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="kit-cards tabs-display">
        <li class="kit-cards__item kit-cards__item--yellow box box--golden">
          <div class="kit-cards__wrapper">
            <div class="kit-cards__inner">
              <div class="kit-cards__image">
                <img src="../../img/kit/kit_classic.png" alt="case">
              </div>
              <div class="kit-cards__info">
                <span class="kit-cards__label">
                  набор
                </span>
                <span class="kit-cards__name">
                  классика
                </span>
                <a href="#" class="kit-cards__link button">
                  купить
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="kit-cards__item kit-cards__item--blue box box--golden">
          <div class="kit-cards__wrapper">
            <div class="kit-cards__inner">
              <div class="kit-cards__image">
                <img src="../../img/kit/kit_battle.png" alt="case">
              </div>
              <div class="kit-cards__info">
                <span class="kit-cards__label">
                  набор
                </span>
                <span class="kit-cards__name">
                  классика
                </span>
                <a href="#" class="kit-cards__link button">
                  купить
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="kit-cards__item kit-cards__item--purple box box--golden">
          <div class="kit-cards__wrapper">
            <div class="kit-cards__inner">
              <div class="kit-cards__image">
                <img src="../../img/kit/kit_wiseman.png" alt="case">
              </div>
              <div class="kit-cards__info">
                <span class="kit-cards__label">
                  набор
                </span>
                <span class="kit-cards__name">
                  классика
                </span>
                <a href="#" class="kit-cards__link button">
                  купить
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="kit-cards tabs-display">
        <li class="kit-cards__item kit-cards__item--yellow box box--golden">
          <div class="kit-cards__wrapper">
            <div class="kit-cards__inner">
              <div class="kit-cards__image">
                <img src="../../img/kit/kit_classic.png" alt="case">
              </div>
              <div class="kit-cards__info">
                <span class="kit-cards__label">
                  набор
                </span>
                <span class="kit-cards__name">
                  классика
                </span>
                <a href="#" class="kit-cards__link button">
                  купить
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="kit-cards__item kit-cards__item--blue box box--golden">
          <div class="kit-cards__wrapper">
            <div class="kit-cards__inner">
              <div class="kit-cards__image">
                <img src="../../img/kit/kit_battle.png" alt="case">
              </div>
              <div class="kit-cards__info">
                <span class="kit-cards__label">
                  набор
                </span>
                <span class="kit-cards__name">
                  классика
                </span>
                <a href="#" class="kit-cards__link button">
                  купить
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="kit-cards__item kit-cards__item--purple box box--golden">
          <div class="kit-cards__wrapper">
            <div class="kit-cards__inner">
              <div class="kit-cards__image">
                <img src="../../img/kit/kit_wiseman.png" alt="case">
              </div>
              <div class="kit-cards__info">
                <span class="kit-cards__label">
                  набор
                </span>
                <span class="kit-cards__name">
                  классика
                </span>
                <a href="#" class="kit-cards__link button">
                  купить
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="kit-cards tabs-display">
        <li class="kit-cards__item kit-cards__item--yellow box box--golden">
          <div class="kit-cards__wrapper">
            <div class="kit-cards__inner">
              <div class="kit-cards__image">
                <img src="../../img/kit/kit_classic.png" alt="case">
              </div>
              <div class="kit-cards__info">
                <span class="kit-cards__label">
                  набор
                </span>
                <span class="kit-cards__name">
                  классика
                </span>
                <a href="#" class="kit-cards__link button">
                  купить
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="kit-cards__item kit-cards__item--blue box box--golden">
          <div class="kit-cards__wrapper">
            <div class="kit-cards__inner">
              <div class="kit-cards__image">
                <img src="../../img/kit/kit_battle.png" alt="case">
              </div>
              <div class="kit-cards__info">
                <span class="kit-cards__label">
                  набор
                </span>
                <span class="kit-cards__name">
                  классика
                </span>
                <a href="#" class="kit-cards__link button">
                  купить
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="kit-cards__item kit-cards__item--purple box box--golden">
          <div class="kit-cards__wrapper">
            <div class="kit-cards__inner">
              <div class="kit-cards__image">
                <img src="../../img/kit/kit_wiseman.png" alt="case">
              </div>
              <div class="kit-cards__info">
                <span class="kit-cards__label">
                  набор
                </span>
                <span class="kit-cards__name">
                  классика
                </span>
                <a href="#" class="kit-cards__link button">
                  купить
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
