<section class="projects">
  <img src="../../img/project/projectsOverlay.webp" alt="overlay" class="projects-overlay">
  <div class="projects-container container">
    <div class="projects-body">
      <div class="projects-header tabs">
        <div class="projects-heading heading">
          <h2 class="heading-title">
            медиа проекта
          </h2>
          <img class="heading-line" src="../../img/heading/headingRight.png" alt="frame">
        </div>
        <div class="projects-tabs tabs-controls">
          <button class="projects-tabs__button tabs-button tabs-button--selected">
            прямая трансляция
          </button>
          <button class="projects-tabs__button tabs-button">
            видео сервера
          </button>
          <button class="projects-tabs__button tabs-button">
            скриншоты сервера
          </button>
        </div>
      </div>
      <div class="projects-main projects-displays">
        <div class="projects-slider swiper tabs-display tabs-display--selected">
          <ul class="projects-list swiper-wrapper">
            <li class="projects-item swiper-slide">
              <video class="projects-video" autoplay muted playsinline>
                <source src="../../img/mockedVideo.mp4" type="video/mp4" />
              </video>
              <button class="projects-controller">
                <img src="../../img/project/videoPlayButtonTriangle.png" class="projects-controller__play" alt="play-button">
                <img src="../../img/project/videoPlayButtonOverlay.png" alt="overlay" class="projects-controller__overlay">
              </button>
              <div class="projects-video">
              </div>
            </li>
            <li class="projects-item swiper-slide">
              <video class="projects-video" autoplay muted playsinline>
                <source src="../../img/mockedVideo.mp4" type="video/mp4" />
              </video>
              <button class="projects-controller">
                <img src="../../img/project/videoPlayButtonTriangle.png" class="projects-controller__play" alt="play-button">
                <img src="../../img/project/videoPlayButtonOverlay.png" alt="overlay" class="projects-controller__overlay">
              </button>
              <div class="projects-video">
              </div>
            </li>
            <li class="projects-item swiper-slide">
              <video class="projects-video" autoplay muted playsinline>
                <source src="../../img/mockedVideo.mp4" type="video/mp4" />
              </video>
              <button class="projects-controller">
                <img src="../../img/project/videoPlayButtonTriangle.png" class="projects-controller__play" alt="play-button">
                <img src="../../img/project/videoPlayButtonOverlay.png" alt="overlay" class="projects-controller__overlay">
              </button>
              <div class="projects-video">
              </div>
            </li>
            <li class="projects-item swiper-slide">
              <video class="projects-video" autoplay muted playsinline>
                <source src="../../img/mockedVideo.mp4" type="video/mp4" />
              </video>
              <button class="projects-controller">
                <img src="../../img/project/videoPlayButtonTriangle.png" class="projects-controller__play" alt="play-button">
                <img src="../../img/project/videoPlayButtonOverlay.png" alt="overlay" class="projects-controller__overlay">
              </button>
              <div class="projects-video">
              </div>
            </li>
            <li class="projects-item swiper-slide">
              <video class="projects-video" autoplay muted playsinline>
                <source src="../../img/mockedVideo.mp4" type="video/mp4" />
              </video>
              <button class="projects-controller">
                <img src="../../img/project/videoPlayButtonTriangle.png" class="projects-controller__play" alt="play-button">
                <img src="../../img/project/videoPlayButtonOverlay.png" alt="overlay" class="projects-controller__overlay">
              </button>
              <div class="projects-video">
              </div>
            </li>
          </ul>
          <div class="projects-add">
            <a href="#" class="projects-cta button ">
              добавить стрим
            </a>
            <div class="swiper-scrollbar swiper-scrollbar-horizontal"></div>
          </div>
        </div>

        <div class="projects-slider tabs-display">
          <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
               <div class="swiper-slide">
                <img src='../../img/info/banner_info.webp'
                alt='slide 1' />
              </div>
             <div class="swiper-slide">
                <img src='../../img/info/banner_info.webp'
                alt='slide 2' />
              </div>
                   <div class="swiper-slide">
                <img src='../../img/info/banner_info.webp'
                alt='slide 3' />
              </div>
                         <div class="swiper-slide">
                <img src='../../img/info/banner_info.webp'
                alt='slide 4' />
              </div>
                         <div class="swiper-slide">
                <img src='../../img/info/banner_info.webp'
                alt='slide 5' />
              </div>
            </div>
        </div>
          <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
             <div class="swiper-slide">
                <img src='../../img/info/banner_info.webp'
                alt='slide 1' />
              </div>
             <div class="swiper-slide">
                <img src='../../img/info/banner_info.webp'
                alt='slide 2' />
              </div>
                   <div class="swiper-slide">
                <img src='../../img/info/banner_info.webp'
                alt='slide 3' />
              </div>
                         <div class="swiper-slide">
                <img src='../../img/info/banner_info.webp'
                alt='slide 4' />
              </div>
                         <div class="swiper-slide">
                <img src='../../img/info/banner_info.webp'
                alt='slide 5' />
              </div>
            </div>
          </div>
        </div>
        <div class="projects-slider tabs-display">
          <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
               <div class="swiper-slide">
                <img src='../../img/info/banner_info.webp'
                alt='slide 1' />
              </div>
             <div class="swiper-slide">
                <img src='../../img/info/banner_info.webp'
                alt='slide 2' />
              </div>
                   <div class="swiper-slide">
                <img src='../../img/info/banner_info.webp'
                alt='slide 3' />
              </div>
                         <div class="swiper-slide">
                <img src='../../img/info/banner_info.webp'
                alt='slide 4' />
              </div>
                         <div class="swiper-slide">
                <img src='../../img/info/banner_info.webp'
                alt='slide 5' />
              </div>
            </div>
        </div>
          <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
             <div class="swiper-slide">
                <img src='../../img/info/banner_info.webp'
                alt='slide 1' />
              </div>
             <div class="swiper-slide">
                <img src='../../img/info/banner_info.webp'
                alt='slide 2' />
              </div>
                   <div class="swiper-slide">
                <img src='../../img/info/banner_info.webp'
                alt='slide 3' />
              </div>
                         <div class="swiper-slide">
                <img src='../../img/info/banner_info.webp'
                alt='slide 4' />
              </div>
                         <div class="swiper-slide">
                <img src='../../img/info/banner_info.webp'
                alt='slide 5' />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
