<section class="rates">
  <div class="rates-container container">
    <div class="rates-body">
      <div class="rates-header tabs">
        <div class="rates-heading heading">
          <h2 class="heading-title">
            рейтинги серверов
          </h2>
          <img class="heading-line" src="../../img/heading/headingRight.png" alt="frame">
        </div>
          <div class="rates-tabs tabs-controls">
            <button class="rates-tabs__button tabs-button tabs-button--selected">
              Interlude
            </button>
            <button class="rates-tabs__button tabs-button">
              interlude x2
            </button>
            <button class="rates-tabs__button tabs-button">
              interlude x3
            </button>
          </div>
        </div>
        <div class="rates-controls">
          <ul class="rates-flex">
            <button class="rates-flex__button button">
              игроков
            </button>
            <button disabled class="rates-flex__button button">
              кланов
            </button>
            <button disabled class="rates-flex__button button">
              замков
            </button>
          </ul>
          <button class="rates-full button button--red">
            полный рейтинг
          </button>
        </div>
        <div class="rates-info rates-displays">
          <table class="rates-table tabs-display tabs-display--selected">
            <thead>
              <tr>
                <th>№</th>
                <th>ИМЯ</th>
                <th>КЛАН</th>
                <th>КЛАСС</th>
                <th>УРОВЕНЬ</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>UsernicknAme</td>
                <td>clan 1</td>
                <td>Titan</td>
                <td>78 уровень</td>
              </tr>
              <tr>
                <td>2</td>
                <td>thelongestusernickname</td>
                <td>clan 2</td>
                <td>Storm Screamer</td>
                <td>56 уровень</td>
              </tr>
              <tr>
                <td>3</td>
                <td>onemore</td>
                <td>clan 3</td>
                <td>Moonlight Sentinel</td>
                <td>45 уровень</td>
              </tr>
              <tr>
                <td>4</td>
                <td>windstrike</td>
                <td>clan 4</td>
                <td>Cardinal</td>
                <td>34 уровень</td>
              </tr>
              <tr>
                <td>5</td>
                <td>UNSIMPLEWORLD</td>
                <td>CLAN 5</td>
                <td>Soultaker</td>
                <td>31 уровень</td>
              </tr>
            </tbody>
          </table>
          <table class="rates-table tabs-display">
            <thead>
              <tr>
                <th>№</th>
                <th>ИМЯ</th>
                <th>КЛАН</th>
                <th>КЛАСС</th>
                <th>УРОВЕНЬ</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>UsernicknAme</td>
                <td>clan 1</td>
                <td>Titan</td>
                <td>78 уровень</td>
              </tr>
              <tr>
                <td>2</td>
                <td>thelongestusernickname</td>
                <td>clan 2</td>
                <td>Storm Screamer</td>
                <td>56 уровень</td>
              </tr>
              <tr>
                <td>3</td>
                <td>onemore</td>
                <td>clan 3</td>
                <td>Moonlight Sentinel</td>
                <td>45 уровень</td>
              </tr>
              <tr>
                <td>4</td>
                <td>windstrike</td>
                <td>clan 4</td>
                <td>Cardinal</td>
                <td>34 уровень</td>
              </tr>
              <tr>
                <td>5</td>
                <td>UNSIMPLEWORLD</td>
                <td>CLAN 5</td>
                <td>Soultaker</td>
                <td>31 уровень</td>
              </tr>
            </tbody>
          </table>
          <table class="rates-table tabs-display">
            <thead>
              <tr>
                <th>№</th>
                <th>ИМЯ</th>
                <th>КЛАН</th>
                <th>КЛАСС</th>
                <th>УРОВЕНЬ</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>UsernicknAme</td>
                <td>clan 1</td>
                <td>Titan</td>
                <td>78 уровень</td>
              </tr>
              <tr>
                <td>2</td>
                <td>thelongestusernickname</td>
                <td>clan 2</td>
                <td>Storm Screamer</td>
                <td>56 уровень</td>
              </tr>
              <tr>
                <td>3</td>
                <td>onemore</td>
                <td>clan 3</td>
                <td>Moonlight Sentinel</td>
                <td>45 уровень</td>
              </tr>
              <tr>
                <td>4</td>
                <td>windstrike</td>
                <td>clan 4</td>
                <td>Cardinal</td>
                <td>34 уровень</td>
              </tr>
              <tr>
                <td>5</td>
                <td>UNSIMPLEWORLD</td>
                <td>CLAN 5</td>
                <td>Soultaker</td>
                <td>31 уровень</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</section>
