<section class="servers">
  <div class="servers-container container">
    <div class="servers-body">
      <div class="servers-row">
        <div class="servers-bonuses bonuses box">
          <div class="bonuses-container">
            <div class="bonuses-visible">
              <span class="bonuses-heading">
                до открытия осталось
              </span>
              <ul class="bonuses-counter">
                <li class="bonuses-counter__item">
                  <span class="bonuses-counter__value">00</span>
                  <span class="bonuses-counter__label">
                    дней
                  </span>
                </li>
                <li class="bonuses-counter__item">
                  <span class="bonuses-counter__value">00</span>
                  <span class="bonuses-counter__label">
                    часы
                  </span>
                </li>
                <li class="bonuses-counter__item">
                  <span class="bonuses-counter__value">00</span>
                  <span class="bonuses-counter__label">
                    минут
                  </span>
                </li>
                <li class="bonuses-counter__item">
                  <span class="bonuses-counter__value">00</span>
                  <span class="bonuses-counter__label">
                    сек
                  </span>
                </li>
              </ul>
              <p class="bonuses-description">
                Стартуй на нашем x50 сегодня и <br>
                <span class="bonuses-description--hl">
                  получай бонусы!
                </span>
              </p>
            </div>
            <div class="bonuses-hidden bonuses-hidden--first hidden">
              <div class="hidden-header">
                <p class="hidden-title"><span>force pvp</span> x70</p>
                <span class="hidden-name">
                  interlude
                </span>
              </div>
              <ul class="hidden-stats">
                <li class="hidden-stats__item">
                  <span class="hidden-stats__key">
                    Exp/Sp:
                  </span>
                  <span class="hidden-stats__value">
                    x5
                  </span>
                </li>
                <li class="hidden-stats__item">
                  <span class="hidden-stats__key">
                    Exp/Sp:
                  </span>
                  <span class="hidden-stats__value">
                    x5
                  </span>
                </li>
                <li class="hidden-stats__item">
                  <span class="hidden-stats__key">
                    Exp/Sp:
                  </span>
                  <span class="hidden-stats__value">
                    x5
                  </span>
                </li>
                <li class="hidden-stats__item">
                  <span class="hidden-stats__key">
                    Exp/Sp:
                  </span>
                  <span class="hidden-stats__value">
                    x5
                  </span>
                </li>
              </ul>
              <p class="hidden-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
              </p>
              <div class="hidden-footer">
                <span class="hidden-label">с открытия сервера прошло:</span>
                <ul class="bonuses-counter">
                  <li class="bonuses-counter__item">
                    <span class="bonuses-counter__value">00</span>
                    <span class="bonuses-counter__label">
                      дней
                    </span>
                  </li>
                  <li class="bonuses-counter__item">
                    <span class="bonuses-counter__value">00</span>
                    <span class="bonuses-counter__label">
                      часы
                    </span>
                  </li>
                  <li class="bonuses-counter__item">
                    <span class="bonuses-counter__value">00</span>
                    <span class="bonuses-counter__label">
                      минут
                    </span>
                  </li>
                  <li class="bonuses-counter__item">
                    <span class="bonuses-counter__value">00</span>
                    <span class="bonuses-counter__label">
                      сек
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="bonuses-hidden bonuses-hidden--second hidden">
              <div class="hidden-header">
                <p class="hidden-title"><span>force pvp</span> x55</p>
                <span class="hidden-name">
                  interlude
                </span>
              </div>
              <ul class="hidden-stats">
                <li class="hidden-stats__item">
                  <span class="hidden-stats__key">
                    Exp/Sp:
                  </span>
                  <span class="hidden-stats__value">
                    x5
                  </span>
                </li>
                <li class="hidden-stats__item">
                  <span class="hidden-stats__key">
                    Exp/Sp:
                  </span>
                  <span class="hidden-stats__value">
                    x5
                  </span>
                </li>
                <li class="hidden-stats__item">
                  <span class="hidden-stats__key">
                    Exp/Sp:
                  </span>
                  <span class="hidden-stats__value">
                    x5
                  </span>
                </li>
                <li class="hidden-stats__item">
                  <span class="hidden-stats__key">
                    Exp/Sp:
                  </span>
                  <span class="hidden-stats__value">
                    x5
                  </span>
                </li>
              </ul>
              <p class="hidden-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
              </p>
              <div class="hidden-footer">
                <span class="hidden-label">с открытия сервера прошло:</span>
                <ul class="bonuses-counter">
                  <li class="bonuses-counter__item">
                    <span class="bonuses-counter__value">00</span>
                    <span class="bonuses-counter__label">
                      дней
                    </span>
                  </li>
                  <li class="bonuses-counter__item">
                    <span class="bonuses-counter__value">00</span>
                    <span class="bonuses-counter__label">
                      часы
                    </span>
                  </li>
                  <li class="bonuses-counter__item">
                    <span class="bonuses-counter__value">00</span>
                    <span class="bonuses-counter__label">
                      минут
                    </span>
                  </li>
                  <li class="bonuses-counter__item">
                    <span class="bonuses-counter__value">00</span>
                    <span class="bonuses-counter__label">
                      сек
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="bonuses-hidden bonuses-hidden--third hidden">
              <div class="hidden-header">
                <p class="hidden-title"><span>force pvp</span> x60</p>
                <span class="hidden-name">
                  interlude
                </span>
              </div>
              <ul class="hidden-stats">
                <li class="hidden-stats__item">
                  <span class="hidden-stats__key">
                    Exp/Sp:
                  </span>
                  <span class="hidden-stats__value">
                    x5
                  </span>
                </li>
                <li class="hidden-stats__item">
                  <span class="hidden-stats__key">
                    Exp/Sp:
                  </span>
                  <span class="hidden-stats__value">
                    x5
                  </span>
                </li>
                <li class="hidden-stats__item">
                  <span class="hidden-stats__key">
                    Exp/Sp:
                  </span>
                  <span class="hidden-stats__value">
                    x5
                  </span>
                </li>
                <li class="hidden-stats__item">
                  <span class="hidden-stats__key">
                    Exp/Sp:
                  </span>
                  <span class="hidden-stats__value">
                    x5
                  </span>
                </li>
              </ul>
              <p class="hidden-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
              </p>
              <div class="hidden-footer">
                <span class="hidden-label">с открытия сервера прошло:</span>
                <ul class="bonuses-counter">
                  <li class="bonuses-counter__item">
                    <span class="bonuses-counter__value">00</span>
                    <span class="bonuses-counter__label">
                      дней
                    </span>
                  </li>
                  <li class="bonuses-counter__item">
                    <span class="bonuses-counter__value">00</span>
                    <span class="bonuses-counter__label">
                      часы
                    </span>
                  </li>
                  <li class="bonuses-counter__item">
                    <span class="bonuses-counter__value">00</span>
                    <span class="bonuses-counter__label">
                      минут
                    </span>
                  </li>
                  <li class="bonuses-counter__item">
                    <span class="bonuses-counter__value">00</span>
                    <span class="bonuses-counter__label">
                      сек
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="bonuses-hidden bonuses-hidden--fourth hidden">
              <div class="hidden-header">
                <p class="hidden-title"><span>force pvp</span> x100</p>
                <span class="hidden-name">
                  interlude
                </span>
              </div>
              <ul class="hidden-stats">
                <li class="hidden-stats__item">
                  <span class="hidden-stats__key">
                    Exp/Sp:
                  </span>
                  <span class="hidden-stats__value">
                    x5
                  </span>
                </li>
                <li class="hidden-stats__item">
                  <span class="hidden-stats__key">
                    Exp/Sp:
                  </span>
                  <span class="hidden-stats__value">
                    x5
                  </span>
                </li>
                <li class="hidden-stats__item">
                  <span class="hidden-stats__key">
                    Exp/Sp:
                  </span>
                  <span class="hidden-stats__value">
                    x5
                  </span>
                </li>
                <li class="hidden-stats__item">
                  <span class="hidden-stats__key">
                    Exp/Sp:
                  </span>
                  <span class="hidden-stats__value">
                    x5
                  </span>
                </li>
              </ul>
              <p class="hidden-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
              </p>
              <div class="hidden-footer">
                <span class="hidden-label">с открытия сервера прошло:</span>
                <ul class="bonuses-counter">
                  <li class="bonuses-counter__item">
                    <span class="bonuses-counter__value">00</span>
                    <span class="bonuses-counter__label">
                      дней
                    </span>
                  </li>
                  <li class="bonuses-counter__item">
                    <span class="bonuses-counter__value">00</span>
                    <span class="bonuses-counter__label">
                      часы
                    </span>
                  </li>
                  <li class="bonuses-counter__item">
                    <span class="bonuses-counter__value">00</span>
                    <span class="bonuses-counter__label">
                      минут
                    </span>
                  </li>
                  <li class="bonuses-counter__item">
                    <span class="bonuses-counter__value">00</span>
                    <span class="bonuses-counter__label">
                      сек
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="bonuses-hidden bonuses-hidden--main">
              <div class="bonuses-hidden__title">
                <img src="../../img/giftIcon.png" alt="icon">
                <span>Lorem ipsum dolor sit amet</span>
              </div>
              <p class="bonuses-hidden__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              </p>
              <ul class="bonuses-list">
                <li class="bonuses-list__item">
                  <img src="../../img/bonuses/bonusesItems_1.png" alt="icon">
                </li>
                <li class="bonuses-list__item">
                  <img src="../../img/bonuses/bonusesItems_2.png" alt="icon">
                </li>
                <li class="bonuses-list__item">
                  <img src="../../img/bonuses/bonusesItems_3.png" alt="icon">
                </li>
                <li class="bonuses-list__item">
                  <img src="../../img/bonuses/bonusesItems_4.png" alt="icon">
                </li>
                <li class="bonuses-list__item">
                  <img src="../../img/bonuses/bonusesItems_5.png" alt="icon">
                </li>
                <li class="bonuses-list__item">
                  <img src="../../img/bonuses/bonusesItems_6.png" alt="icon">
                </li>
              </ul>
            </div>
            <a href="#" class="bonuses-cta button button--purple">
              <img src="../../img/giftIcon.png" alt="icon">
              забрать бонус
            </a>
          </div>
        </div>
        <div class="servers-grid box">
          <div class="servers-list__triangle"></div>
          <ul class="servers-list">
            <li class="servers-list__item">
              <img src="../../img/servers/serversLogo_1.png" alt="logo" class="servers-list__icon">
              <div class="servers-list__info">
                <p class="servers-list__description">
                  Хроники: <span class="servers-list__description servers-list__highlighted servers-list__highlighted--orange">Interlude</span>
                </p>
                <span class="servers-list__name">
                  Force pvp x50
                </span>
                <p class="servers-list__description">
                  Status: <span class="servers-list__description servers-list__highlighted servers-list__highlighted--green">Online</span>
                </p>
              </div>
            </li>
            <li class="servers-list__item">
              <img src="../../img/servers/serversLogo_2.png" alt="logo" class="servers-list__icon">
              <div class="servers-list__info">
                <p class="servers-list__description">
                  Хроники: <span class="servers-list__description servers-list__highlighted servers-list__highlighted--orange">Interlude</span>
                </p>
                <span class="servers-list__name">
                  Force pvp x50
                </span>
                <p class="servers-list__description">
                  Status: <span class="servers-list__description servers-list__highlighted servers-list__highlighted--green">Online</span>
                </p>
              </div>
            </li>
            <li class="servers-list__item">
              <img src="../../img/servers/serversLogo_3.png" alt="logo" class="servers-list__icon">
              <div class="servers-list__info">
                <p class="servers-list__description">
                  Хроники: <span class="servers-list__description servers-list__highlighted servers-list__highlighted--orange">Interlude</span>
                </p>
                <span class="servers-list__name">
                  Force pvp x50
                </span>
                <p class="servers-list__description">
                  Status: <span class="servers-list__description servers-list__highlighted servers-list__highlighted--green">Online</span>
                </p>
              </div>
            </li>
            <li class="servers-list__item">
              <img src="../../img/servers/serversLogo_4.png" alt="logo" class="servers-list__icon">
              <div class="servers-list__info">
                <p class="servers-list__description">
                  Хроники: <span class="servers-list__description servers-list__highlighted servers-list__highlighted--orange">Interlude</span>
                </p>
                <span class="servers-list__name">
                  Force pvp x50
                </span>
                <p class="servers-list__description">
                  Status: <span class="servers-list__description servers-list__highlighted servers-list__highlighted--green">Online</span>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
