<footer class="footer">
  <div class="footer-container container">
    <div class="footer-body">
      <div class="footer-copy">
        <span class="footer-copy__heading">
          политика конфиденциальности
        </span>
        <p>
          Пользователи получили всю необходимую информацию о конфиденциальности и предоставили мне разрешение на сбор и обработку данных о посещениях сайта, который собирает Google Аналитика
        </p>
      </div>
      <ul class="footer-links">
        <a href="#" class="footer-links__item" target="_blank">
          рекрутинг
        </a>
        <a href="#" class="footer-links__item" target="_blank">
          сообщество
        </a>
        <a href="#" class="footer-links__item" target="_blank">
          новости
        </a>
        <a href="#" class="footer-links__item" target="_blank">
          лаунчер
        </a>
        <a href="#" class="footer-links__item" target="_blank">
          учетная запись
        </a>
        <a href="#" class="footer-links__item" target="_blank">
          регистрация
        </a>
      </ul>
      <a href="#" class="footer-dev">
        <svg width='40' height='40'>
          <use href='img/sprite/sprite.svg#unsimple-logo'></use>
        </svg>
        <div class="footer-dev__name">
          Developed by
          <span>Unsimple world</span>
        </div>
      </a>
    </div>
  </div>
</footer>
