<header class="header">
  <div class="header-container container">
    <div class="header-body">
      <div class="header-flex">
        <a href="/" class="header-logo">
          <img src="../img/header/headerLogo.png" alt="logo">
        </a>
        <nav class="nav">
          <button class="nav-close">
            <svg>
              <use href='img/sprite/sprite.svg#close-icon'></use>
            </svg>
          </button>
          <ul class="nav-list">
            <a href="#" class="nav-link nav-link--selected">
              <img src="../img/nav/navIcon_crown.png" alt="icon">
              главная
            </a>
            <a href="#" class="nav-link">
              <img src="../img/nav/navIcon_swords.png" alt="icon">
              регистрация
            </a>
            <a href="#" class="nav-link">
              <img src="../img/nav/navIcon_singleSword.png" alt="icon">
              о сервере
            </a>
            <a href="#" class="nav-link">
              <img src="../img/nav/navIcon_puzzle.png" alt="icon">
              файлы
            </a>
            <a href="#" class="nav-link">
              <img src="../img/nav/navIcon_shop.png" alt="icon">
              магазин
            </a>
            <a href="#" class="nav-link">
              <img src="../img/nav/navIcon_communication.png" alt="icon">
              общение
            </a>
          </ul>
        </nav>
      </div>
      <div class="header-aside">
        <div class="header-lang">
          <div class="header-visible">
            <img src="../img/header/flagImage.png" class="header-flag" alt="flag">
            <span class="header-lang__selected">ru</span>
            <img class="header-lang__arrow" src="../img/header/arrow.png" alt="arrow">
          </div>
          <div class="header-hidden">
            <ul class="header-list">
              <a href="#" class="header-list__item">
                <img src="../img/header/flagImage.png" class="header-flag" alt="flag">
                <span>ru</span>
              </a>
            </ul>
          </div>
        </div>
        <a href="#" class="header-cta button">
          <span>в кабинет</span>
          <img src="../img/sprite/user-icon.svg" alt="icon">
        </a>
        <button class="header-menu">
          <svg>
            <use href='img/sprite/sprite.svg#menuIcon'></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
