.box {
  border-radius: 26px;
  min-height: 100px;
  padding: 10px;

  position: relative;
  border: 2px solid #c6beb3;
    // &::after {
    //   @include pseudo;
    //   width: 200px;
    //   height: 24px;
    //   background-image: url("../../img/general/frameDefault.png");
    //   background-size: 100% 100%;
    //   background-repeat: no-repeat;
    //   top: -10px;
    //   left: 50%;
    //   z-index: 2;
    //   transform: translateX(-50%);
    //   pointer-events: none;
    // }
    &--golden {
      border-color: #967a4f;
    }
}

@include mobile {
  .box {
    border: 2px solid #c6beb3;
    border-radius: 12px;
    padding: 6px;
    &::after {
      display: none;
    }
  }
}
