.projects {
  --pb-spacing: 50px;
  position: relative;
  .swiper-scrollbar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent !important;
    z-index: 10;
    height: 5px;
    & > * {
      background-color: #d09342;
    }
  }
  &-list {
    margin-bottom: 32px;
  }
  &-video {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: inherit;
    opacity: 0;
    transition: all 300ms;
    pointer-events: none;
    will-change: opacity;

    &--revealed {
      opacity: 1;
      pointer-events: all;
    }
  }
  &-overlay {
    --w: 1900px;
    position: absolute;
    min-width: var(--w);
    width: var(--w);
    top: 0;
    left: calc(50% - 50px);
    transform: translateX(-50%);
    z-index: 1;
    pointer-events: none;
  }
  &-heading {
    justify-content: flex-start;
    line-height: 180%;
  }
  &-tabs {
    display: flex;
    align-items: center;
    grid-gap: clamp(44px, 4.375vw, 70px);

    &__button {
      font-size: clamp(13px, 1.125vw, 18px);
      text-transform: uppercase;
      color: #979592;
      position: relative;

      &::after {
        @include pseudo;
        width: 100%;
        height: 5px;
        transform: translateY(100%);
        background-color: #d09342;
        bottom: calc((var(--pb-spacing) + 1px) * -1);
        left: 0;

        transition: opacity 400ms ease;
        will-change: opacity;
        pointer-events: none;
        opacity: 0;
      }
      @include hover {
        &::after {
          opacity: 0.5;
        }
      }
      &--selected {
        color: #d09342;
        &::after {
          opacity: 1;
        }
      }
    }
  }
  &-add {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-slider {
    padding: 10px;

    margin-bottom: 18px;
  }
  &-cta {
    min-width: 248px;
    min-height: 86px;
    position: relative;
    z-index: 60;
  }
  &-add {
    position: relative;

    &::after {
      @include pseudo;
      width: 100%;
      pointer-events: none;
      z-index: -1;
      height: 2px;
      background-color: #cbbeb2;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }
  &-item {
    min-height: 204px;
    border-radius: 24px;
    box-shadow: 0px 4px 8px 4px rgba(var(--clr-b), .15);
    background-color: #3b332d;
    overflow: hidden;
    position: relative;
    transition: box-shadow 300ms ease;
    will-change: box-shadow;
    &--active {
      &::after {
        opacity: 0 !important;
      }
    }
    &::after {
      @include pseudo;
      width: 100%;
      height: 100%;
      border-radius: 24px;
      box-shadow: inset 0 0 60px 30px #62554b;
      top: 0;
      left: 0;
      pointer-events: none;
      transition: opacity 300ms ease;
      will-change: opacity;
    }
  }
  &-controller {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    &__overlay {
      height: 80px;
      aspect-ratio: 1;

      animation: rotate 6s linear infinite;
      will-change: transform;
    }
    &__play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(calc(-50% + 4px), -50%);
      height: 32px;
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@include laptop {
  .projects {
    &-overlay {
      display: none;
    }
  }
}

@include mobile {
  .projects {
    &-tabs {
      &__button {
        &::after {
          bottom: calc(var(--pb-spacing)* -1);
        }
      }
    }
  }
}

.gallery-thumbs {
  box-sizing: border-box;
  padding-top: 10px;
}

.gallery-top .swiper-slide {
  min-height: clamp(200px, 18.75vw, 300px);
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  & > * {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.gallery-thumbs .swiper-slide {
  opacity: 0.5;
  min-height: clamp(80px, 7.5vw, 120px);
  transition: transform 300ms ease, opacity 300ms ease;
  will-change: transform;

  position: relative;
  border-radius: 6px;
  cursor: pointer;

  overflow: hidden;

  & > * {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
  transform: scale(.95);
}
